@import "../../../../style.css";

* {
  margin: 0px;
  padding: 0px;
}
.dep-container {
  margin-left: 84px;
  margin-top: 41px;
  width: 711px;
  height: 35px;
  border-bottom: 1px solid var(--white-two);
  padding-left: 56px;
}
.dep-item {
  margin-bottom: 8px;
  margin-right: 89px;
  width: 62px;

  text-decoration: none;
  font-size: 1rem;
  font-family: NanumSquareB;
  color: var(--white-two);

  background: none;
  border: none;
}
