@import '../../../../style.css';

.input-group{
  /* margin-top: 18px; */
}

.login-input2{
  width: 147px;
  height: 38px;
  object-fit: contain;
  border-radius: 18.8px;
  border: solid 1px var(--pinkish-grey);
}

.search{
  width: 10px;
  height: 10px;
  object-fit: contain;
  background: none;
  border: none;
}

.search2{
  width: 14px;
  height: 14px;
}
