@import '../../../../style.css';

.login-input2{
  margin-top: 9px;
  width: 147px;
  height: 38px;
  object-fit: contain;
  border-radius: 18.8px;
  border: solid 1px var(--pinkish-grey);
}

.search{
  width: 10px;
  height: 10px;
  object-fit: contain;
  background: none;
  border: none;
}

.search2{
  width: 14px;
  height: 14px;
}

.join-btn{
  background: var(--greenish-teal);
  width: 313px;
  height: 41px;
  object-fit: contain;
  border-radius: 18.8px;
  border: none;
  text-decoration: none;
  background-color: var(--greenish-teal);
  color: #ffffff;
  margin-top: 20px;
}
