@import "../../../../style.css";

.add-box {
  /* TODO: card 좀 더 올리기 */
  width: 237px;
  height: 55px;

  background: var(--white-three);
  color: var(--pinkish-grey);

  font-size: 0.8rem;

  border: none;

  align-items: center;
  text-align: center;

}
