@import '../../../../style.css';

.chat_profile{
  width: 164px;
  height: 164px;
  margin-top: 50px;
  margin-left: 74px;
  margin-right: 75px;
}

.add_information{
  font-size: 14px;
  color: var(--greenish-teal);
  margin-top: 23px;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
}
