@import "../../../../style.css";

.chat_profile {
  width: 164px;
  height: 164px;
  margin: 10px auto;
  display: flex;
}

.input-group-connect {
  margin-bottom: 22px;
}

.login-input2 {
  margin-top: 9px;
  width: 147px;
  height: 39px;
  object-fit: contain;
  border-radius: 18.8px;
  border: solid 1px var(--pinkish-grey);
  padding-left: 15px;
  font-size: 12px;
}

.add_information {
  font-size: 14px;
  color: var(--greenish-teal);
  margin-top: 23px;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
}
