@import "../../../../style.css";

.makeroomdiv {
  width: 500px;
  height: 400px;
}

.roomtitle {
  color: var(--light-black);
  font-size: 20.5px;
  border-bottom: solid 1px var(--white-two);
  padding-bottom: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.row-div {
  margin-top: 23px;
  display: flex;
  flex-direction: row;
}

.roomtitle2 {
  color: var(--light-black);
  font-size: 16px;
  font-weight: bold;
  display: flex;
}

.roominput {
  margin-left: 43px;
  width: 347px;
  height: 28px;
  border-radius: 10px;
  font-size: 12px;
  border: solid 1px #cccccc;
  padding-left: 11px;
  outline: none;
}

.row-div2 {
  margin-top: 40px;
  margin-left: 150px;
  width: 187px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.linklogin {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.getissue {
  font-size: 12px;
  color: var(--greenish-teal);
  background: none;
  border: none;
  float: right;
  outline: none;
}

.getissueimg {
  width: 13px;
  height: 13px;
}

.makebutton {
  width: 83px;
  height: 38px;
  border: solid 1px #cccccc;
  color: var(--greenish-teal);
  border-radius: 10px;
  background: none;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

.cancelbutton {
  width: 83px;
  height: 38px;
  border: solid 1px #cccccc;
  background: none;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

/***************Tag css**************/
/* Styles for the input */

div.ReactTags__tags {
  position: relative;
}

.tag-project {
  position: relative;
  margin-top: 4px;
}

.tag-project2 {
  position: relative;
}

div.ReactTags__tagInput {
  margin-bottom: 2px;
  outline: none;
  display: inline-block;
  margin-left: 2px;
}

div.ReactTags__tagInput input.ReactTags__tagInputField {
  /*회의 개설 태그,참여자 모양*/
  /* margin-left: 23px;
  height: 28px;
  margin: 0;
  font-size: 12px;
  width: 347px;
  border: solid 1px #cccccc;
  border-radius: 10px;
  padding-left: 11px;
  outline: none; */
  width: 130px;
  height: 22px;
  border: none;
  font-size: 12px;
  outline: none;
  margin-top: 2px;
}

.tagInputField-auth {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 138px;
  border: none;
  background: none;
  outline: none;
}

.tagInputField-project {
  width: 130px;
  height: 30px;
  border: none;
  font-size: 12px;
  outline: none;
  background: none;
  margin-top: 2px;
}

.tagInputField-project2 {
  width: 155px;
  height: 30px;
  border: none;
  font-size: 12px;
  outline: none;
  background: none;
  margin-top: 2px;
}

.tagInputField-project3 {
  width: 130px;
  height: 30px;
  border: none;
  font-size: 12px;
  outline: none;
  background: none;
}

.tagInputField-people {
  width: 130px;
  height: 22px;
  border: none;
  font-size: 12px;
  outline: none;
}

/* Styles for selected tags */
.tagdiv {
  margin-left: 23px;
}

.tag-inline-div {
  margin-left: 38px;
}

div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  border-radius: 2px;
}

div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
  font-size: 12px;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background-color: #efefefb7;
  width: 200px;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
  font-size: 12px;
}
div.ReactTags__suggestions li mark {
  /* text-decoration: underline; */
  background: none;
  font-weight: 500;
  color: var(--greenish-teal);
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  cursor: pointer;
  font-size: 12px;
}
