@import '../../../../style.css';

canvas{
  weight: 500px;
  height: 200px;

}
.canvas-div{
  width: 711px;
  height: 200px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}

.documentdetaildiv{
  margin-top: 41px;
  margin-left: 82px;
  width: 711px;
}

.documentDetailTitle{
  display: flex;
  flex-direction: row;
  height: 40px;
  border-bottom: solid 1px var(--white-two);
  margin-bottom: 20px;
}

.Title1{
  font-size: 20px;
}

.Title2{
  margin-left: 13px;
  color: var(--brownish-grey);
  font-size: 14px;
  margin-right: 166px;
}

.save_button{
  font-size: 12px;
  color: var(--pinkish-grey);
  background: none;
  border-radius: 10.8px;
  border: solid 1px var(--pinkish-grey);
}

.downloadimg{
  border: none;
  color: var(--pinkish-grey);
  width: 12px;
  height: 12px;
}

.detail_title{
  margin-left: 9px;
  font-size: 16px;
  color: var(--light-black);
  font-weight: bold;
}

.detail_content{
  margin-left: 9px;
  font-size: 16px;
  color: var(--light-black);
}
