@import "../../../../style.css";

.inner-container4 {
  margin: 60px auto;
  width: 500px;
}

.p-input-container {
  margin-top: 45px;
}

.p-input-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 13px;
}

.p-text {
  font-size: 14px;
  color: var(--brownish-grey);
  margin-top: 6px;
}

.p-input {
  width: 280px;
  height: 38px;
  border-radius: 18.8px;
  border: solid 1px var(--white-two);
  margin-left: 20px;
  padding-left: 15px;
  font-size: 12px;
  outline: none;
}

.p-green-message {
  font-size: 11px;
  color: var(--greenish-teal);
  margin-left: 300px;
}

.star2 {
  font-size: 11px;
  color: var(--greenish-teal);
  margin-top: 6px;
}

.p-add-btn {
  margin-left: 90px;
  margin-top: 37px;
  width: 313px;
  height: 41px;
  object-fit: contain;
  border-radius: 18.8px;
  border: solid 1px var(--greenish-teal);
  background-color: var(--greenish-teal);
  color: #ffffff;
  cursor: pointer;
}
