@import "../../../../style.css";

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 200;
  width: 20px;
  height: 28px;
  margin-right: 26px;
  cursor: pointer;
  outline: none;
}

li a {
  color: #000;
  text-decoration: none;
}

.notice-btn {
  width: 20px;
  height: 28px;
  padding-right: 32px;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  background-repeat: no-repeat;
  background-size: auto;
}

.notice-btn:active {
  border: none;
}

.notice_im {
  width: 20px;
  height: 30px;
}

.tri_alert {
  
}

.triangle {
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #ffffff;
  border-left: 10px solid transparent;
}

.alert_ul {
  width: 248px;
  height: 365px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 55px;
  right: -30px;
  background-color: #ffffff;
  font-weight: bold;
  position: absolute;
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.alert_title {
  height: 20px;
  font-size: 12px;
  color: var(--brownish-grey);
  border-bottom: 1px solid var(--white-two);
  margin-top: 5px;
  margin-left: 3px;
}

.alert_li {
  padding: 8px 10px;
  border-bottom: 1px solid #e5e5e5;
}

.alert_li:hover {
  background-color: var(--light-sage);
}

.alert_div {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.alert_img {
  width: 35px;
  height: 35px;
}

.alert_text_div {
  width: 160px;
  height: 28px;
}

.alert_all {
  position: absolute;
  bottom: 0;
  text-align: center;
  color: var(--greenish-teal);
  font-size: 12px;
  width: 248px;
  height: 31px;
  border: none;
  background: none;
}
