@import "../../../../style.css";

.label-div {
  display: flex;
  flex-direction: row;
}

.label {
  font-size: 14px;
  margin-left: 11px;
  margin-right: 2px;
  font-family: NanumSquareB;
}

.star {
  font-size: 11px;
  color: var(--greenish-teal);
}

.green-message {
  color: var(--greenish-teal);
  font-size: 10px;
  margin-left: 145px;
}

.login-input {
  margin-top: 8px;
  width: 297px;
  height: 39px;

  border-radius: 18.8px;
  border: solid 1px var(--pinkish-grey);
  padding-left: 15px;
  align-items: center;
  outline: none;
  font-size: 12px;
}

.inner-container2 {
  margin: 60px auto;
  width: 313px;
}

.header2 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  font-family: NanumSquareB;
}

.input-group2 {
  margin-bottom: 18px;
}

.text_search {
  margin-top: 9px;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.small-input {
  padding-left: 15px;
  width: 134px;
  height: 38px;
  background: none;
  border: none;
  font-size: 12px;
  border: solid 1px var(--pinkish-grey);
  border-radius: 18.8px;
  outline: none;
}

.join-btn {
  background: var(--greenish-teal);
  width: 313px;
  height: 41px;
  object-fit: contain;
  border-radius: 18.8px;
  border: none;
  text-decoration: none;
  background-color: var(--greenish-teal);
  color: #ffffff;
  margin-top: 20px;
  font-size: 16px;
  font-family: NanumSquareB;
  outline: none;
}
