@import '../../../../style.css';

.inner-container2{
  /* background: #666666; */
  width: 313px;
  margin: 10px auto;
}

.header2{
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.input-group2{
  margin-bottom: 18px;
}

.text_search{
  margin-top: 9px;
  border: solid 1px var(--pinkish-grey);
  border-radius: 18.8px;
  width: 147px;
  height: 38px;
}

.small-input{
  width: 109px;
  height: 38px;
  object-fit: contain;
  background: none;
  padding-left: 20px;
  border: none;
  font-size: 12px;
}

.search{
  width: 10px;
  height: 10px;
  object-fit: contain;
  background: none;
  border: none;

}

.search2{
  width: 14px;
  height: 14px;
  margin-right: 12px;
}

.join-btn{
  background: var(--greenish-teal);
  width: 313px;
  height: 41px;
  object-fit: contain;
  border-radius: 18.8px;
  border: none;
  text-decoration: none;
  background-color: var(--greenish-teal);
  color: #ffffff;
  margin-top: 20px;
  font-size: 16px;
}
