@import "../../../style.css";

.documentroom_container {
  width: 711px;
  height: 600px;
  /* 457+21+19 */
  border-bottom: 1px solid var(--white-two);
  flex-direction: column;
  margin-left: 83px;
  margin-top: 42px;
}

.documentroom.text {
  font-size: 20px;
}

.documentroom_table {
  width: 711px;
  height: 457px;
  margin-bottom: 17px;
  margin-top: 21px;
  border: #000000;
}

.table_head {
  width: 711px;
  height: 37px;
  background: #f6f6f6;
  border-top: 1px solid var(--white-two);
  border-bottom: 1px solid var(--white-two);
  color: var(--brownish-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.table_head_text {
  font-size: 16px;
  margin-top: 7px;
}

.todetail {
  font-size: 14px;
  text-align: center;
  border: none;
  background: none;
}

/* tr:hover{
  background-color: #f6f6f6;
} */

.post-ul {
  list-style-type: none;
  border: none;
}

.post-li {
  list-style-type: none;
  float: none;
  width: 711px;
  height: 30px;
}

.post-row-list {
  list-style-type: none;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.post-row-list-item {
  list-style-type: none;
  padding-left: 0px;
  font-size: 14px;
  float: left;
  border: none;
}

.tags {
  margin-bottom: 10px;
}

.post-row-list-item-btn {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}

.post-row-list-item-img {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}

a {
  font-size: 14px;
}

.par_btn {
  width: 62px;
  height: 26px;
  color: #ffffff;
  border-radius: 12px;
  border: none;
  background-color: var(--greenish-teal);
  font-size: 12.5px;
}

.page-div {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.pagination {
  border: none;
  width: 142px;
  height: 13px;
  display: flex;
  justify-content: space-between;
}

.page-item {
  border: none;
  list-style: none;
  padding-left: 0px;
  font-size: 14px;
}

.page_button {
  font-size: 10px;
  color: var(--brownish-grey);
  background: none;
  border: none;
}

.conference_search {
  margin-left: 210px;
  margin-top: 50px;
  margin-bottom: 21px;
}

.search_select {
  width: 70px;
  height: 27px;
  font-size: 10px;
}

.search_option {
  font-size: 10px;
}

.search_input {
  margin-left: 2px;
  width: 180px;
  height: 24px;
  font-size: 10px;
}

.search_button {
  margin-left: 2px;
  font-size: 10px;
  width: 36px;
  height: 27px;
  background-color: var(--greenish-teal);
  border: none;
  color: #ffffff;
}
