@import "../../../style.css";

* {
  margin: 0px;
  padding: 0px;
}

.nav2-container {
  display: flex;
  background: var(--greenish-teal);

  width: 100vw;
  height: 64px;

  border-bottom: 1px solid var(--white-two);
}
.logo2 {
  /* TODO: font size 적용하기 */

  flex: 1;

  padding-top: 17px;
  padding-left: 37px;
  padding-bottom: 19px;

  overflow: hidden;

  color: white;
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
  padding-right: 29px;
}

.notice-btn {
  width: 20px;
  height: 28px;

  padding-right: 32px;

  border: none;

  background: none;
  background-repeat: no-repeat;
  background-size: auto;
}
.notice_im {
  padding-top: 4px;
  width: 20px;
  height: 28px;
}

.userProfile {
  padding-right: 13px;

  width: 38px;
  height: 37px;
}

.userInfo-container {
  padding-right: 30px;

  width: 120px;
}

.userName {
  width: 200px;
  color: white;
  font-size: 0.83rem;
}

.userDepartment {
  color: white;
  font-size: 0.6rem;
}

.moreInfo {
  width: 17px;
  height: 37px;

  border: none;
  background: none;
}
.moreInfo_im {
  margin-top: 17px;
  width: 12px;
  height: 6px;
}

/* 1 */

.nav-container {
  display: flex;

  width: 100vw;
  height: 64px;

  border-bottom: 1px solid var(--white-two);
}
.logo {
  /* TODO:font 크기 설정하기 */
  flex: 1;

  padding-top: 17px;
  padding-left: 37px;
  padding-bottom: 19px;

  overflow: hidden;

  /* font-size:  30px; */
  color: var(--greenish-teal);
}

.btn-container {
  flex: 1;

  padding-top: 16px;
  padding-right: 47px;

  display: flex;
  justify-content: flex-end;
}

.btn-p {
  padding-right: 7px;
}

.nav-btn {
  font-size: 1rem;
  /* TODO : 폰트 사이즈 지정*/
  /* padding-right: 7px; */

  width: 80px;
  height: 33px;

  border: 1px solid var(--white-two);
  border-radius: 16.5px;

  color: var(--brownish-grey);
}
