@import "../../../../style.css";

.issues-3 {
  margin-top: 43px;
  margin-left: 22px;
}

.issues-title {
  display: flex;
  justify-content: center;
  width: 238px;
  height: 20px;
  display: flex;
  font-family: NanumSquareB;

  text-align: center;
}
.issues-title-status {
  font-size: 1.15rem;
  font-family: NanumSquareB;
  color: var(--light-black);
}
.issues-title-count {
  margin-left: 11px;

  font-size: 1.15rem;
  color: var(--white-two);
}

.issues-body {
  --box-main-color: rgba(0, 0, 0, 0.1);
  --box-shadow-h-offset: 0px;
  --box-shadow-v-offset: 1px;
  --box-shadow-blur: 5px;
  flex-grow: 1;
}

.issues-body {
  margin-top: 66px;

  width: 256px;
  height: 531px;

  box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset)
    var(--box-shadow-blur) var(--box-main-color);
}

.issue-big {
  display: flex;
}
