@import '../../../style.css';

.conferenceroom_container{
  margin-left: 83px;
  margin-top: 42px;
  width: 712px;
  height: 199px;
}

.conferenceroom_text{
  font-size: 20px;
}

.add_conference{
  border-bottom: solid 1px #000000;
}

.add_conference_btn{
  font-size: 14px;
  border: none;
  background: none;
  color: var(--greenish-teal);
}

.circle_container{
  display: flex;
  flex-direction: row;
  margin-top: 27px;
}

.left_right{
  border: none;
  background: none;
  width: 16px;
  height: 33px;

}

.left_right_img{
  width: 16px;
  height: 33px;
}

.people{
  width: 12px;
  height: 13px;
}

.circle_hori{
  /*수평*/
  display: flex;
  flex-direction: row;
  width: 34px;
  height: 14px;
  justify-content: center;
}
