@import '../../../style.css';

.conferenceroom_container{
  width: 711px;
  height: 323px;
  /* 283+20+20 */
  border: solid 1px #000000;
  flex-direction: column;
}

.conferenceroom.text{
  font-size: 20px;

}

.button_width{
  text-align: right;
}

.add_conference{
  font-size: 14px;
  color: var(--greenish-teal);
  background: none;
  border: none;
}

.conferenceroom_table{
  width: 711px;
  height: 191px;
  border-collapse: collapse;
}

.table_head{
  background: #f6f6f6;
  border-bottom: 1px solid var(--white-two);
  font-size: 14px;
  color: var(--brownish-grey);
}

th,td{
  border-bottom: 1px solid var(--white-two);
  font-size: 14px;
  text-align: center;
}

.par_btn{
  width: 62px;
  height: 26px;
  color: #ffffff;
  border-radius: 12px;
  border: none;
  background-color: var(--greenish-teal);
  font-size: 12.5px;
}
